/* Clean, validated stylesheet using the requested palette
   Palette: #777C6D, #B7B89F, #CBCBCB, #EEEEEE, #19183B, #A1C2BD
*/

:root {
    --primary: #14213d;
    --secondary: #fca311;
    --secondary-light: #000;
    --primary-light: #ffff;
}

html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    -webkit-font-smoothing: antialiased;
}